@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.072ff73b.woff2) format(woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Medium.6eb6a951.woff2) format(woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-SemiBold.466c63d2.woff2) format(woff2);
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Bold.c8d11fa7.woff2) format(woff2);
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-ExtraBold.1a09c726.woff2) format(woff2);
    font-weight: 800;
}
